<!DOCTYPE html>
<html lang="english">
  <head>
    <title>ThoughtDiary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />

    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

  </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}" />
    <div>
      <link href="{{ url_for('static', filename='index2.css') }}" rel="stylesheet" />

      <div class="main-page-container">
        <div name="popup" class="forpopups-container">
          <div class="forpopups-forpopups">
            <div name="popup-recommendations" class="forpopups-alertpopup">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <script>
                          alert("{{ messages[0] }}");
                  </script>
              {% endif %}
          {% endwith %}
              <span class="forpopups-text">Alert&nbsp; ⚠</span>
              <img
                src="{{ url_for('static', filename='external/close1764-kbvo.svg') }}"
                alt="close1764"
                class="forpopups-close"
                onclick="closeRecommendations()"
              />
              <div class="forpopups-recommendation">
                <span class="forpopups-text01">
                  <span>
                    You have been feeling {{emotion_patterns}} in your recent entries
                  </span>
                </span>
                <span class="forpopups-text03">
                  <span>Here are a few things that might help you:</span>
                </span>
                <ul class="forpopups-ulactions">
                  {% for method in emotion_methods %}
                  <il class="forpopups-text05"><span> {{method}} </span></il>
                  {% endfor %}
                  <!---
                                   <il class="forpopups-text05"><span>Meditation</span></il>
                  <il class="forpopups-text07"><span>Talk with a friend</span></il>
                  <il class="forpopups-text09"><span>Take a break</span></il> 
                  -->

                </ul>
              </div>
            </div>
            <div name="popup-moredetails" class="forpopups-entrydetailpopup">
              <span class="forpopups-text11"><span name="popup-title"></span></span>
              <img
                src="{{ url_for('static', filename='external/close1764-e709.svg') }}"
                alt="close1764"
                class="forpopups-close1"
                onclick="closeMoreDetails()"
              />
              <div class="forpopups-moredetailscontent">
                <span class="forpopups-text13"><span>Date:</span></span>
                <span class="forpopups-text15"><span name="popup-date"></span></span>
                <span class="forpopups-text13"><span>Emotion:</span></span>
                <span class="forpopups-text15"><span name="popup-emotion"></span></span>
                <span class="forpopups-text17"><span>Content:</span></span>
                <div class="forpopups-fullcontent">
                  <span class="forpopups-text19">
                    <span name="popup-content">
                      
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-page-main-page">
          <div class="main-page-topbanner">
            <img
              src="{{ url_for('static', filename='external/logosvg1622-csx.svg') }}"
              alt="logoSVG1622"
              class="main-page-logo-svg"
            />
            <div class="main-page-usericon">
              <img
                src="{{ url_for('static', filename='external/image91315291812-burq-200h.png') }}"
                alt="IMAGE91315291812"
                class="main-page-image91315291"
              />
              <span class="main-page-text"><span>User</span></span>
            </div>
          </div>
          <div class="main-page-pagecontent">
            <div class="main-page-leftside">
              <form method="post" action="{{ url_for('add_entry') }}" class="main-page-formaddentry">
                <div class="main-page-createentry">
                  <div class="main-page-entrytitle">
                    <span class="main-page-text02"><span>Title</span></span>
                    <input
                      name="title"
                      type="text"
                      placeholder=""
                      required="true"
                      autofocus="true"
                      class="main-page-title-input"
                    />
                  </div>
                  <div class="main-page-entrydate">
                    <span class="main-page-text04">
                      <span>Select a Date</span>
                    </span>
                    <input
                      name="date"
                      type="date"
                      placeholder=""
                      required="true"
                      class="main-page-input-date"
                    />
                  </div>
                  <div class="main-page-entrycontent">
                    <span class="main-page-text06"><span>Content</span></span>
                    <textarea name="content" required="true" placeholder="Type your diary here or use the speech-to-text function below" class="main-page-textareacontent"></textarea>
                  </div>
                </div>
                <div class="main-page-conbtns">
                  <button type="submit" class="main-page-button-submit">
                    <span class="main-page-text08"><span>Submit</span></span>
                  </button>
                  <button type="button" onclick="startSpeechToText()" class="main-page-buttonspeechtotext">
                    <span class="main-page-text10">
                      <span><i class="uil uil-microphone"></i> </span>
                    </span>
                  </button>
                </div>
              </form>
            </div>
            <div class="main-page-rightside">
              {% if emotion_patterns != "" %}
          <!-- <div class="justify-content-between">
            You have been feeling {{emotion_patterns}} in your recent entries.<br>
              <a data-toggle="collapse" href="#emotion_pattern_collapse" role="button" aria-expanded="false" aria-controls="emotion_pattern_collapse">
                  Here are a few things that might help you:
              </a>
          </div>
          <div class="collapse" id="emotion_pattern_collapse">
              <div class="card card-body">   
                  <ul class="list-group">
                      {% for method in emotion_methods %}
                      <li class="list-group-item"> {{method}} </li>
                      {% endfor %}
                  </ul>
              </div>
          </div> -->
          <button type="button" onclick="showRecommendations()" class="main-page-show-recommendations-button">
            <span class="main-page-text08"><span>Show Recommendations</span></span>
          </button>
          {% endif %}
              <div class="main-page-diaryentries">
                <span class="main-page-text12"><span>Diary Entries</span></span>
                <div class="main-page-entriescontainer">
                  {% for entry in user_entries %}
                    <div class="main-page-entrycontainer">
                      <span class="main-page-text14">
                        <span>{{ entry.title }}</span>
                      </span>
                      <span class="main-page-text16">
                        <span>{{ entry.date }}</span>
                      </span>
                      <div class="main-page-emotiondesc">
                        <span class="main-page-text18">
                          <span>Emotion:</span>
                        </span>
                        <span class="main-page-text20"><span>{{ entry.emotion }}</span></span>
                      </div>
                      <div class="main-page-contentdesc">
                        <span class="main-page-text22">
                          <span>Content:</span>
                        </span>
                        <div class="main-page-entrycontent1">
                          <span class="main-page-text24">
                            <span>{{ entry.content }}</span>
                          </span>
                        </div>
                        <button type="button" onclick="showMoreDetails({{entry}})" class="main-page-moredetailbtn"><span class="main-page-text08" >More Details</span></button>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function startSpeechToText() {
          // Disable the textarea while speech recognition is in progress
          document.querySelector('textarea[name="content"]').disabled = true;
  
          // Send a POST request to the /speech_to_text route
          fetch('/speech_to_text', {
              method: 'POST',
          })
          .then(response => response.json())
          .then(data => {
              if (data.error) {
                  // If there's an error, display a pop-up message
                  alert("Speech recognition error: " + data.error);
              } else {
                  // Set the recognized speech as the content in the textarea
                  document.querySelector('textarea[name="content"]').value = data.content;
              }
  
              // Re-enable the textarea
              document.querySelector('textarea[name="content"]').disabled = false;
          })
          .catch(error => console.error('Error:', error));
      }

      function showMoreDetails(entry) {
        document.querySelector('div[name="popup"]').setAttribute('style', 'visibility: visible;')
        document.querySelector('div[name="popup-moredetails"]').setAttribute('style', 'visibility: visible;')
        document.querySelector('span[name="popup-title"]').innerHTML = entry.title
        document.querySelector('span[name="popup-date"]').innerHTML = entry.date
        document.querySelector('span[name="popup-emotion"]').innerHTML = entry.emotion
        document.querySelector('span[name="popup-content"]').innerHTML = entry.content
      }

      function showRecommendations() {
        document.querySelector('div[name="popup"]').setAttribute('style', 'visibility: visible;')
        document.querySelector('div[name="popup-recommendations"]').setAttribute('style', 'visibility: visible;')
      }

      function closeMoreDetails() {
        document.querySelector('div[name="popup"]').setAttribute('style', 'visibility: hidden;')
        document.querySelector('div[name="popup-moredetails"]').setAttribute('style', 'visibility: hidden;')
      }

      function closeRecommendations() {
        document.querySelector('div[name="popup"]').setAttribute('style', 'visibility: hidden;')
        document.querySelector('div[name="popup-recommendations"]').setAttribute('style', 'visibility: hidden;')
      }

    </script>
    

  </body>
</html>
